.book-cat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 111px;
  .icon-cat {
    margin-top: 30px;
    opacity: 0.7;
    transition: 0.2s;
    cursor: pointer;
    img {
      width: 60px;
    }
    p {
      font-size: 9px;
      text-align: center;
      margin-top: 3px;
    }
    &:hover {
      opacity: 1;
    }
  }
}
